{% assign lang = site.data.language[post.tags.first] %}
<div class="row m-0 justify-content-center">
  <div class="col-12 p-0">
    <div class="card mb-3 card-sm-border-0 p-0">
      <div class="row m-0 border-bottom">
        <div class="col card-header pl-1 pl-md-3 border-0">
          <h3 class="mt-0 h5">
            <a href="{{ post.original_link }}">{{ post.title }}</a>
          </h3>
          <div class="d-flex flex-fill align-items-center">
            <img height="51px" class="my-auto mr-2" src="{% if post.avatar contains '://' %}{% elsif post.avatar %}{{ site.baseurl }}/hackergotchi/{% else %}{{ site.baseurl }}/hackergotchi/default.svg{% endif %}{{ post.avatar }}"/>
            <div class="d-flex flex-column">
              <span>
                <a href="{{ post.link }}">{{ post.author }}</a>
                {% if post.irc %}
                  <span class="badge badge-dark"><img src="{{ site.baseurl }}/images/profile/irc.svg"/> {{ post.irc }}</span>
                {% endif %}
              </span>
              <a class="text-muted" href="{{ post.original_link }}">{{ post.created_at | date: "%-d %B %Y %H:%M" }} </a>
            </div>
            <a href="{{ post.rss }}" class="ml-auto" ><span title="RSS Feed" class="icon icon_rss"></span></a>
          </div>
        </div>
      </div>
      <div class="card-body markdown">
        {{ post.content }}
      </div>
    </div>
  </div>
</div>
